*.iml
.DS_Store
.gradle
.navigation/

/.idea/.name
/.idea/caches
/.idea/codeStyles
/.idea/compiler.xml
/.idea/copyright/profiles_settings.xml
/.idea/encodings.xml
/.idea/inspectionProfiles/
/.idea/libraries/
/.idea/misc.xml
/.idea/modules.xml
/.idea/scopes/scope_settings.xml
/.idea/tasks.xml
/.idea/vcs.xml
/.idea/workspace.xml
/.idea/codeStyleSettings.xml

/build
/captures
/facebookSDK
/app.iml
/gradlew
/local.properties

gradle/
/*/build/