<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="car.gov.co.carserviciociudadano">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name=".AppCar"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".petcar.activities.ContenedorActivity"
            android:label="@string/title_activity_main_petcar"></activity>
        <activity
            android:name=".petcar.activities.RegistrarKilosYFotosMaterialActivity"
            android:label="@string/title_registrar_kilos"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".petcar.activities.PublicarMaterialActivity"
            android:label="@string/title_publicar_material" />
        <activity
            android:name=".petcar.activities.RegistrarMaterialActivity"
            android:label="@string/title_registrar_material"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".bicicar.activities.CambiarPasswordActivity" />
        <activity
            android:name=".bicicar.activities.PublicarEventoActivity"
            android:theme="@style/AppTheme.Dialog.NoActioinBar" />
        <activity
            android:name=".bicicar.activities.FotosEventoBicicarActivity"
            android:label="@string/title_fotos_evento"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".bicicar.activities.EventoActivity"
            android:label="@string/title_crear_evento" />
        <activity
            android:name=".bicicar.activities.EventosActivity"
            android:label="@string/title_eventos"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".bicicar.activities.RutasActivity"
            android:label="@string/title_rutas" /> <!-- -Configuracion -->
        <service android:name=".services.FirebaseMessagin">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/api_key_map" />
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="123dc7493b500f04a5dd89f863d1bc21b2fa57dd" />

        <provider
            android:name=".Utils.GeneralProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider> <!-- actividades -->
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".parques.activities.MainParques"
            android:label="@string/title_activity_main_parques"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="parques"
                    android:scheme="serviciociudadano" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.DEFAULT" />

                <data
                    android:host="mis_reservas"
                    android:scheme="serviciociudadano" />
            </intent-filter>
        </activity>
        <activity
            android:name=".parques.activities.DetalleParqueActivity"
            android:label="@string/title_activity_detalle_parque"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".parques.activities.ReservaActivity"
            android:label="@string/title_realizar_reserva" />
        <activity
            android:name=".parques.activities.UsuarioActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".parques.activities.DetalleReservaActivity"
            android:label="@string/title_detalle_reserva" />
        <activity
            android:name=".parques.activities.AbonoActivity"
            android:label="@string/enviar_consignacion"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".parques.activities.PagoElectronicoActivity"
            android:label="@string/title_pago_electronico" />
        <activity
            android:name=".parques.activities.WebViewActivity"
            android:label="@string/title_terminos" />
        <activity
            android:name=".parques.activities.ImageViewerActivity"
            android:label="@string/title_imagenes" />
        <activity
            android:name=".consultapublica.activities.TramitesActivity"
            android:label="@string/title_consultar_tramite" />
        <activity
            android:name=".consultapublica.activities.DocumentosRespuestaActivity"
            android:label="@string/title_documentos_respuesta" />
        <activity
            android:name=".consultapublica.activities.BuscarExpedienteActivity"
            android:label="@string/title_buscar_expediente"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".consultapublica.activities.ExpedienteActivity"
            android:label="@string/title_expediente"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".parques.activities.CambiarContrasenaActivity"
            android:label="@string/title_cambiar_contrasena"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".parques.activities.ComoLLegarActivity"
            android:label="@string/title_como_llegar" />
        <activity android:name=".common.LocationBaseGoogleApiActivity" />
        <activity
            android:name=".denunciaambiental.activities.DenunciaAmbientalActivity"
            android:label="@string/title_denuncia_ambiental_activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".denunciaambiental.activities.GalleryActivity"
            android:label="@string/title_gallery" />
        <activity
            android:name=".denunciaambiental.activities.DenunciaAmbiental2Activity"
            android:label="@string/title_denuncia_ambiental_activity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".parques.activities.AyudaPagoActivity"
            android:label="@string/title_como_pagar" />
        <activity
            android:name=".consultapublica.activities.BankProjectActivity"
            android:label="@string/title_bank_project"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".openweather.activities.WeatherActivity" />
        <activity android:name=".openweather.activities.WeatherHourDayActivity" />
        <activity
            android:name=".bicicar.activities.LoginBiciCarActivity"
            android:label="@string/title_bicicar"
            android:theme="@style/AppThemeBicicar" />
        <activity
            android:name=".bicicar.activities.RegistrarActividadActivity"
            android:theme="@style/AppThemeBicicar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".bicicar.activities.EscanearQRActivity"
            android:label="@string/title_escaner"
            android:theme="@style/AppThemeBicicar" />
        <activity android:name=".Utils.ConfigActivity" /> <!-- Add the service created in services package ! -->
        <service android:name=".bicicar.services.LocationMonitoringService" />
        <service android:name=".bicicar.services.SeguirRutaService" />

        <activity
            android:name=".bicicar.activities.RutaMapaActivity"
            android:label="@string/title_bicicar"
            android:theme="@style/AppThemeBicicar" />
        <activity
            android:name=".bicicar.activities.HistorialTrayectosActivity"
            android:label="@string/title_historial_trayectos"
            android:theme="@style/AppThemeBicicar" />
        <activity
            android:name=".bicicar.activities.MainBicicarActivity"
            android:theme="@style/AppThemeBicicar.NoActionBar" />
        <activity
            android:name=".bicicar.activities.WebViewBicicarActivity"
            android:label="@string/title_bicicar"
            android:theme="@style/AppThemeBicicar" />
        <activity
            android:name=".bicicar.activities.EstadisticaPersonaActivity"
            android:theme="@style/AppThemeBicicar" />
        <activity
            android:name=".bicicar.activities.HuellaAmbientalActivity"
            android:label="@string/title_huella_ambiental"
            android:theme="@style/AppThemeBicicar" />
        <activity
            android:name=".bicicar.activities.BeneficiariosActivity"
            android:label="@string/title_asistencia"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".bicicar.activities.SeguirRutaActivity"
            android:label="@string/title_activity_seguir_ruta"
            android:theme="@style/AppThemeBicicar" />
        <activity
            android:name=".petcar.activities.MainPETCARActivity"
            android:label="@string/title_activity_main_petcar"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".bicicar.activities.CrearRutaActivity"
            android:label="@string/title_crear_ruta"
            android:theme="@style/AppThemeBicicar"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".bicicar.activities.UbicacionBeneficiarioActivity"
            android:label="@string/title_ubicacion"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".bicicar.activities.ColegiosActivity"
            android:label="@string/title_colegios"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".bicicar.activities.BeneficiariosXColegioActivity"
            android:label="@string/title_estudiantes"
            android:windowSoftInputMode="stateAlwaysHidden" />
        <activity
            android:name=".petcar.activities.LoginPetCarActivity"
            android:label="@string/title_login_petcar"
            android:theme="@style/AppThemeBicicar" />
        <activity
            android:name=".petcar.activities.ContenedoresActivity"
            android:label="@string/title_contenedores"
            android:theme="@style/AppThemeBicicar"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".petcar.activities.CambiarPasswordActivity" />
    </application>

</manifest>