<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="car.gov.co.carserviciociudadano">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".AppCar"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/title_main_activity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".parques.activities.MainParques"
            android:label="@string/title_activity_main_parques"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".parques.activities.DetalleParqueActivity"
            android:label="@string/title_activity_detalle_parque"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".parques.activities.ReservaActivity" />
        <activity
            android:name=".parques.activities.UsuarioActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".parques.activities.DetalleReservaActivity" />
        <activity android:name=".parques.activities.AbonoActivity"></activity>
    </application>

</manifest>